@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Inder&display=swap');

*{
  font-family: var(--font-textos);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --rosa: #D9048E;
  --roxo: #8C035C;
  --preto: #000000;
  --pretobg: #0000009f;
  --branco: #ffffff;
  --brancobg: #ffffff93;
  --font-titulos: 'Frijole', cursive;
  --font-textos: 'Inder', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}